name: Flutter Android Release

on:
  push:
    paths:
      - release.yml
    branches:
      - main

jobs:
  build:
    name: Build APK and Create Release
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Read release config
        id: release_config
        run: |
          echo "TAG=$(yq '.tag' release.yml)" >> $GITHUB_ENV
          echo "RELEASE_NAME=$(yq '.name' release.yml)" >> $GITHUB_ENV
          echo "RELEASE_BODY<<EOF" >> $GITHUB_ENV
          yq '.body' release.yml >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV
          echo "APK_PATH=$(yq '.apk_path' release.yml)" >> $GITHUB_ENV

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Decode keystore file
        run: |
          mkdir -p android/app
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 -d > android/app/haade_android_apk_key.jks

      - name: Write key.properties
        run: |
          echo "${{ secrets.KEY_PROPERTIES }}" > android/key.properties

      - name: Check if keystore exists
        run: ls -l android/app

      - name: Install dependencies
        run: flutter pub get

      - name: Generate localization files
        run: flutter gen-l10n

      - name: Build release APK
        run: flutter build apk --release

      - name: Rename APK with tag
        run: |
          FILE_NAME="$(basename "${APK_PATH}")"
          EXT="${FILE_NAME##*.}"
          BASE="${FILE_NAME%.*}"
          BASE="${BASE/app-release/haade_panel_s504}"
          NEW_NAME="${BASE}-${TAG}.${EXT}"
          mv "${APK_PATH}" "build/app/outputs/flutter-apk/${NEW_NAME}"
          echo "FINAL_APK_PATH=build/app/outputs/flutter-apk/${NEW_NAME}" >> $GITHUB_ENV

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.TAG }}
          name: ${{ env.RELEASE_NAME }}
          body: ${{ env.RELEASE_BODY }}
          files: ${{ env.FINAL_APK_PATH }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}

